<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservation">
    <!-- 예약 한 건 추가 ID[시퀀스],캠프아이디,룸아이디,유저아이디,시작날짜,종료날짜,인원수,상태[기본 1]   -->
    <insert id="insertReservation">
        insert into
            reservation
        values (
        seq_reservation_id.nextval, #{campId}, #{roomId}, #{userId}, #{startDate} , #{endDate}, #{nop}, 1
        )
        <selectKey order="AFTER" resultType="_long" keyProperty="id">
            select
            seq_reservation_id.currval
            from
            dual
        </selectKey>
    </insert>

    <!-- 결제 내역 한 건 추가  id[시퀀스],결제금액,사용한포인트,결제날짜[default:sysdate],예약 아이디[fk]  -->

    <insert id="insertReservationPay">
        insert into
        reservation_pay
        values (
        SEQ_RESERVATION_PAY_ID.nextval, #{reservEx}, #{reservUsePoint}, default, #{reservId}
        )
    </insert>





    <select id="findAll" resultType="reservation">
        select
        *
        from
        reservation
    </select>


    <!-- 0105 캠핑장 id로 객실 리스트 조회 -->
<!--    <select id="findByCampId" resultType="RoomVo">-->
<!--        select-->
<!--        *-->
<!--        from-->
<!--            room-->
<!--        where-->
<!--            camp_id = #{id}-->
<!--    </select>-->



<!--    <select id="findByCampId" resultMap="RoomVoMap2">-->
<!--        select-->
<!--        r.*,-->
<!--        a.id attach_id,-->
<!--        a.room_id,-->
<!--        a.room_attach_original_name,-->
<!--        a.room_attach_renamed_name-->
<!--        from-->
<!--        room r left join room_attach a-->
<!--        on r.id = a.room_id-->
<!--        where-->
<!--            r.camp_id = #{campId}-->
<!--        order by-->
<!--            r.id desc-->
<!--    </select>-->

<!-- 0109기존의 객실을 찾는 쿼리. 제대로 동작하지 않음. -->
<!--    <select id="findByCampId" resultMap="RoomVoMap2">-->
<!--        <![CDATA[-->
<!--        SELECT DISTINCT r.room_id, rt.*-->
<!--        FROM reservation r-->
<!--        JOIN room rt ON r.room_id = rt.id-->
<!--        WHERE r.camp_id = #{campId} AND (-->
<!--        (-->
<!--        &#45;&#45; 새로운 예약 기간이 다른 예약과 중첩되지 않아야 함-->
<!--        r.start_date >= #{lastDay} and-->
<!--        r.end_date <= #{firstDay}-->
<!--        )-->
<!--        OR-->
<!--        (-->
<!--        &#45;&#45; 기존 예약이 취소된 경우만 고려-->
<!--        r.status = 0-->
<!--        )-->
<!--        )-->
<!--        ]]>-->
<!--    </select>-->
<!-- 0109 내가 선택 날짜와 중복되는 예약을 찾는 쿼리문 -->

    <select id ="findDuplicateReservation" resultType="reservation">
        <![CDATA[

        ]]>
    </select>
    <select id = "findByRoomCampId" resultType="room">
        select * from room where camp_id=#{campId}

    </select>


<!--https://tyson.tistory.com/90 모달
    예약 체크 하는 sql문..(겹치는 경우인 room_id를 출력_)
        SELECT DISTINCT r.room_id, rt.*
        FROM reservation r
        JOIN room rt ON r.room_id = rt.id
        WHERE r.camp_id = #{campId}
-->
    <select id="findByCampId" resultMap="RoomVoMap2">
        <![CDATA[
        SELECT *
        FROM room r
        left JOIN reservation rv ON r.id = rv.room_id
        WHERE r.camp_id = #{campId}
        AND status = 1
        AND NOT ( #{lastDay} <= start_date OR #{firstDay} >= end_date)
        ]]>


    </select>
    <!-- RoomVoMap -->
    <resultMap id="RoomVoMap2" type="RoomVo">
        <id column = "id" property="id"/>
        <result column="camp_id" property="campId"/>
        <result column="room_name" property="roomName"/>
        <result column="room_type" property="roomType"/>
        <result column="room_intro" property="roomIntro"/>
        <result column="room_default_person" property="roomDefaultPerson"/>
        <result column="room_maximum_person" property="roomMaximumPerson"/>
        <result column="room_default_fee" property="roomDefaultFee"/>
        <result column="room_over_fee" property="roomOverFee"/>
        <result column="room_renamed_img" property="roomRenamedImg"/>
        <!--
                    여러개인 경우 여러번 실행
                    property:필드명
                    ofTpye:속성(클래스명)
                    roomAttach에 대한 속성. 테이블 컬럼 그대로 갖고옴.
                 -->
        <collection property="roomAttachs" ofType="RoomAttach">
            <id column="attach_id" property="id"/>
            <result column ="room_id" property="roomId"/>
            <result column ="room_attach_original_name" property="roomAttachOriginalName"/>
            <result column ="room_attach_renamed_name" property="roomAttachRenamedName"/>
        </collection>
    </resultMap>


    
<!-- 예약 내역에서 특정 객실을 찾는 테스트 쿼리 -->
    <select id="findAbleRoom"  resultType="reservation">
        <![CDATA[
    SELECT *
    FROM reservation
    WHERE camp_id = #{campId} AND (
        (start_date >= #{lastDay} OR end_date <= #{firstDay})
        OR
        (status = 0)
    )
]]>
    </select>
<!--    -->

    <!-- 예약 내역에서 특정 객실을 찾는 테스트 쿼리 -->
<!--    <select id="findAbleRoom"  resultType="reservation">-->
<!--        <![CDATA[-->
<!--        SELECT *-->
<!--        FROM reservation-->
<!--        WHERE camp_id=#{campId}-->
<!--        ]]>-->
<!--    </select>-->





















    <select id="findByDonReservUserId" resultType="reservationVo">
        select
            r.*,
            (select camp_name from camp where id = r.camp_id) camp_name,
            (select camp_renamed_img from camp where id = r.camp_id) camp_renamed_img,
            (select room_name from room where id = r.room_id) room_name
        from
            reservation r
        where
            user_id = #{userId}
            and
            status = 1
            and
            end_date <![CDATA[<]]> sysdate
        order by
            end_date desc
    </select>
    <select id="getTotalDonReservCount" resultType="_int">
        select
            count(*)
        from
            reservation r
        where
            user_id = #{userId}
            and
            status = 1
            and
            end_date <![CDATA[<]]> sysdate
    </select>
    <select id="getTotalProcessReservCount" resultType="_int">
        select
            count(*)
        from
            reservation r
        where
            user_id = #{userId}
            and
            status = 1
            and
            start_date <![CDATA[>=]]> sysdate
    </select>
    <select id="findByProcessReservUserId" resultType="reservationVo">
        select
            r.*,
            (select camp_name from camp where id = r.camp_id) camp_name,
            (select camp_renamed_img from camp where id = r.camp_id) camp_renamed_img,
            (select room_name from room where id = r.room_id) room_name
        from
            reservation r
        where
            user_id = #{userId}
            and
            status = 1
            and
            start_date <![CDATA[>=]]> sysdate
        order by
            end_date desc
    </select>
    <select id="getTotalCancelReservCount" resultType="_int">
        select
            count(*)
        from
            reservation r
        where
            user_id = #{userId}
            and
            status = 0
    </select>
    <select id="findByCancelReservUserId" resultType="reservationVo">
        select
            r.*,
            (select camp_name from camp where id = r.camp_id) camp_name,
            (select camp_renamed_img from camp where id = r.camp_id) camp_renamed_img,
            (select room_name from room where id = r.room_id) room_name
        from
            reservation r
        where
            user_id = #{userId}
            and
            status = 0
        order by
            end_date desc
    </select>
</mapper>